<div class="row">
  <div class="col-md-12">
    <form class="form-group" (submit)="save()">
      <label>Registration</label>
      <input type="text"
             [(ngModel)]="registration"
             class="form-control"
             name="name"
             placeholder="Registration">

      <label>Color</label>
      <select class="form-control" name="color" [(ngModel)]="color">
        <option [ngValue]="'red'">Red</option>
        <option [ngValue]="'blue'">Blue</option>
        <option [ngValue]="'black'">Black</option>
      </select>

      <label>Model</label>
      <select class="form-control" name="model" [(ngModel)]="model">
       <option *ngFor="let m of models" [ngValue]="m">
         {{ m.name }}, {{ m.brand }}
       </option>
      </select>

      <button class="btn btn-success">Save !</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12" >
  </div>
</div>
